* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}


/* ------------------------------- */
/* ------------HOME------------ */
/* ------------------------------- */

.home-wrapper {
  width: 100vw;
  height: 80vh;
    display: flex;
  justify-content: center;
  align-items: center;
}
 
.home-container {
border: 1px solid green;

} 




/* ------------------------------- */
/* ------------NAV BAR------------ */
/* ------------------------------- */

.nav-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-bottom: 1px solid #9999;
  padding: 1rem;
}

/* ------------------------------- */
/* ------------NAV BAR------------ */
/* ------------------------------- */

.clock-wrapper {
  width: 100vw;
  height: 80vh;
    display: flex;
  justify-content: center;
  align-items: center;

}

.clock {
  font-size: 5rem;
  border: 1px solid #0000;
  font-family: 'Dancing Script', cursive;
}