.movie-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* margin: 2rem; */
    margin-bottom: 3rem;
    /* padding: 0 5rem; */
}

.movie-nav {
    padding-right: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    font-size: 2rem;
}

.movie-nav-links {
    text-decoration: none;
    color: #000;
    transition: .4s;
    padding: .4rem .8rem;
    /* border: 1px solid rgb(212, 210, 210); */
    border-radius: 20px;
}

/* .popular:hover {
    color: green;
} */

.movie-nav-links:hover {
    background-color: rgb(225, 224, 224);
  
}
.active {
    font-weight: 500;
    background-color: rgb(225, 224, 224);
}

.movies-nav-likes {
    display: flex;
    align-items: center;
    gap: .2rem;
}
.back-link-container {
    display: flex;
    align-items: center;
    /* transition: .3s; */
}

.back-link-container span {
    transition: .3s;
}

.back-link-container:hover span {
    transform: translate(-2px);
    color: rgb(10, 7, 141);
}
.back-link {
    text-decoration: none;
    color: #000;

}

